/* reset styles */
html {
	font-size: 20px;
}
a,
article,
body,
div,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
img,
li,
nav,
p,
table,
tbody,
td,
tfoot,
th,
tr,
ul {
	border: 0;
	padding: 0;
	margin: 0;
}
a:link {
	text-decoration: none;
}

/* general theme */
body,
html {
	font-family: 'Montserrat', sans-serif;
	height: 100%;
	overflow: auto;
	scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #181c87;
}
p,
ul,
li {
	color: #313131;
}
::selection {
	background-color: #188783;
	color: white;
}

/* navbar */
nav {
	align-items: center;
	background-color: white;
	border-bottom: 2px solid #313131;
	display: flex;
	justify-content: space-evenly;
	padding: 0.5em 1em;
	position: sticky;
	top: 0;
	z-index: 999;
}
#nav-img-div {
	align-items: center;
	display: flex;
	margin: auto;
	padding-right: 1em;
}
#nav-img-div img {
	vertical-align: middle;
}
#nav-link-div {
	display: flex;
	flex: 1;
	justify-content: space-around;
}
nav a:link,
nav a:visited {
	color: #313131;
	transition: 0.3s;
}
nav a:hover,
nav a:focus,
nav a:active {
	font-weight: 600;
}
nav a:hover:nth-of-type(odd),
nav a:focus:nth-of-type(odd),
nav a:active:nth-of-type(odd) {
	color: #188783;
}
nav a:hover:nth-of-type(even),
nav a:focus:nth-of-type(even),
nav a:active:nth-of-type(even) {
	color: #188732;
}

/* main content */
h1,
h2 {
	text-decoration: 2px underline #ed6b15;
}
h3 {
	margin-top: 1em;
}
article {
	background-color: #faf7f2;
	border: 2px solid #313131;
	border-radius: 1em;
	box-shadow: 0 0.2em 0.5em 0em #cbcbcb;
	margin: 2em auto;
	max-width: 50%;
	padding: 1.5em 2em;
}
article p,
article ul,
.photo-container {
	line-height: 1.5em;
	margin: 0.5em 0 0.3em;
}
article a:link,
article a:visited {
	color: #181c87;
	font-weight: 600;
	transition: 0.3s;
}
article a:focus,
article a:hover {
	color: #ed6b15;
}
article ul {
	padding-left: 1em;
}
article p::first-letter {
	font-size: 1.5em;
}
.list-detail {
	font-weight: 600;
}
.punctuation {
	color: #188732;
}

/* photos that fill the article width */
figure {
	font-style: italic;
	margin-bottom: 2em;
	text-align: center;
}
.photo-container {
	display: flex;
	gap: 1em;
	max-height: 15em;
}
.photo-container > * {
	flex: 1;
}
.photo-container img {
	border-radius: 0.75em;
	box-shadow: 0 0.2em 0.5em 0em #cbcbcb;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
	width: 100%;
}
#croissant {
	object-position: 0 70%;
}
div.anchor {
	/* https://jsfiddle.net/kizu/gfXJJ/ */
	margin: -4.15em;
	position: absolute;
}

/* home page top photo section */
#home-top-corner-section {
	left: 10%;
	position: absolute;
	top: 20%;
}
#home-top-corner-section h1,
#home-top-corner-section p {
	color: white;
	font-weight: 700;
	text-decoration: none;
}
#home-top-img {
	background-image: url('../images/hiking.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	position: relative;
}
#home-top-img-button {
	background-color: #181c87;
	border: 1px solid #181c87;
	border-radius: 0.5em;
	color: white;
	font-weight: 500;
	left: 85%;
	padding: 0.5em;
	position: relative;
	top: 85%;
	transition: 0.3s;
}
#home-top-img-button:hover {
	background-color: #188732;
	border-color: #188732;
}
#home-top-logo {
	max-width: 30%;
}

/* form */
form {
	background-color: #313131;
	border: 2px solid #313131;
	border-radius: 0.75em;
	box-shadow: 0 0.2em 0.5em 0em #cbcbcb;
	color: white;
	display: flex;
	flex-direction: column;
	gap: 1em;
	margin: 0.5em 0 0.3em;
	padding: 0 1.2em 1.5em;
}
form input:not(#submit-button) {
	margin-left: 0.5em;
}
form input,
textarea {
	border-radius: 0.2em;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	font-size: inherit;
	padding: 0.2em;
}
form h3 {
	color: white;
	text-align: center;
}
textarea {
	margin-top: 0.5em;
	min-height: 4em;
	resize: vertical;
	width: 100%;
}
#submit-button {
	background-color: #313131;
	border: 2px solid white;
	border-radius: 0.5em;
	box-sizing: border-box;
	color: white;
	font-weight: 500;
	padding: 0.5em;
	transition: 0.3s;
	width: 100%;
}
#submit-button:hover,
#submit-button:focus {
	background-color: #188732;
	border-color: #188732;
	transition: 0.3s;
}
.input-group {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	row-gap: 1em;
}
.required {
	color: red;
	font-weight: 600;
}

/* table */
table {
	background-color: #313131;
	border: 2px solid #313131;
	border-radius: 0.5em;
	color: white;
	margin: 0.5em 0 0.3em;
	padding: 0.5em;
	text-align: left;
	width: 100%;
}
th {
	border-bottom: 2px solid #188732;
	padding: 0.3em;
}
td {
	padding: 0.3em;
	vertical-align: top;
}
tr:not(:last-of-type) td {
	border-bottom: 1px solid #188732;
}
.wide-column {
	width: 40%;
}
table img {
	border-radius: 0.5em;
	max-width: 100%;
}

/* footer */
footer {
	background-color: #181c87;
	color: white;
}

/* media queries */
/* add user-friendly option for disabling smooth scroll */
/* https://gomakethings.com/smooth-scrolling-links-with-only-css/ */
@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}
